{% extends 'base.html' %}

{% block title %}<title>Create</title>{% endblock %}

{% block content %}
<form action="/users/create" method="post">
    <label for="dni">DNI</label>
    <input type="text" name="dni" id="dni"><br>

    <label for="given_name">Nombre</label>
    <input type="text" name="given_name" id="given_name"><br>

    <label for="family_name">Apellido</label>
    <input type="text" name="family_name" id="family_name"><br>

    <label for="email">Correo Electrónico</label>
    <input type="email" name="email" id="email"><br>

    <label for="phone_number">Teléfono</label>
    <input type="text" name="phone_number" id="phone_number"><br>

    <label for="direccion">Dirección</label>
    <input type="text" name="direccion" id="direccion"><br>

<button type="submit">Create</button>
</form>
{% endblock %}